.idea

ibeeam/ibeeam/.env
ibeeam/env/
ibeeam/venv/
ibeeam/Docker/init.sql

ibeeam/ibeeam/__pycache__/
auxiliary/__pycache__
auxiliary/routers/__pycache__/
auxiliary/schemas/__pycache__/
auxiliary/selectors_/__pycache__/
auxiliary/services_/__pycache__/

ibeeam/**/__pycache__/
ibeeam/data/
ibeeam/media/
ibeeam/static/ckeditor
ibeeam/static/debug_toolbar
