.idea

ibeeam/ibeeam/.env
ibeeam/env/
ibeeam/venv/
ibeeam/DB/init.sql

ibeeam/ibeeam/__pycache__/
auxiliary/__pycache__
auxiliary/app/routers/__pycache__/
auxiliary/app/schemas/__pycache__/
auxiliary/app/selectors_/__pycache__/
auxiliary/app/services_/__pycache__/
auxiliary/app/__pycache__/
auxiliary/app/.env
auxiliary/data

ibeeam/**/__pycache__/
ibeeam/data/
ibeeam/media/
ibeeam/static/ckeditor
ibeeam/static/debug_toolbar
ibeeam/static
